<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="internal-nlog.log">

	<targets>
		<target xsi:type="Debugger" name="debugger"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true} | ${event-properties:prefix} | ${message} ${exception:format=Message,Type,StackTrace:maxInnerExceptionLevel=5} | ${callsite-fileName} | ${callsite:className=false:methodName=true} | ${callsite-linenumber}"
				keepFileOpen="false"
				concurrentWrites="true"	/>
		<target xsi:type="File" name="logfile"
				fileName="D:/VSP-88D-CS/LOG/VsLog_${date:format=yyyyMMdd}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true} | ${event-properties:prefix} | ${message} ${exception:format=Message,Type,StackTrace:maxInnerExceptionLevel=5} | ${callsite-fileName} | ${callsite:className=false:methodName=true} | ${callsite-linenumber}"
				keepFileOpen="false"
				concurrentWrites="true"	/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debugger,logfile" />
	</rules>
</nlog>
